.meshLabel {
	padding-top: 10px;
	transform: translate3d(calc(50% + 40px), 0, 0);
	text-align: left;
	background: #202035;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
}

.meshLabel > a {
	text-decoration: none;
	font-size: 1.5rem;
	color: white;
}

.meshLabel::before {
	content: "";
	position: absolute;
	top: 25px;
	left: -50px;
	height: 1px;
	width: 50px;
	background: black;
  }