.meshListContainer {
	position: absolute;
	z-index: 15;
	top: 80px;
	left: 20px;
}

.meshRowContainer {
	display: flex;
	margin: 24px 0 24px;
	text-align: left;
}

.meshRowContainer > p {
	margin: 0;
	width: 35px;
}
.meshRowContainer > img {
	margin-right: 8px;
	height: 24px;
	text-align: center;
	cursor: pointer;
}